						table {
						*border-collapse: collapse; /* IE7 and lower */
						border-spacing: 0;
						font-family: arial;
						width: 100%;    
					}

					.bordered {
						border: solid #ccc 1px;
						-moz-border-radius: 6px;
						-webkit-border-radius: 6px;
						border-radius: 6px;
						-webkit-box-shadow: 0 1px 1px #ccc;
						-moz-box-shadow: 0 1px 1px #ccc;
						box-shadow: 0 1px 1px #ccc;        
					}

					.bordered tr:hover {
						background: #dce9f9;
						-o-transition: all 0.1s ease-in-out;
						-webkit-transition: all 0.1s ease-in-out;
						-moz-transition: all 0.1s ease-in-out;
						-ms-transition: all 0.1s ease-in-out;
						transition: all 0.1s ease-in-out;    
					}    
					   
					.bordered td, .bordered th {
						border-left: 1px solid #ccc;
						border-top: 1px solid #ccc;
						padding: 6px;
						text-align: left;    
					}

					.bordered td {
						font-size: 12px;
						font-weight: bold;
					}

					.bordered th {
						background-color: #dce9f9;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
						background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
						background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
						background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
						background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
						background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
						-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
						-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
						box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
						border-top: none;
						text-shadow: 0 1px 0 rgba(255,255,255,.5);
					}

					.bordered td:first-child, .bordered th:first-child {
						border-left: none;
					}

					.bordered th:first-child {
						-moz-border-radius: 6px 0 0 0;
						-webkit-border-radius: 6px 0 0 0;
						border-radius: 6px 0 0 0;
					}

					.bordered th:last-child {
						-moz-border-radius: 0 6px 0 0;
						-webkit-border-radius: 0 6px 0 0;
						border-radius: 0 6px 0 0;
					}

					.bordered th:only-child{
						-moz-border-radius: 6px 6px 0 0;
						-webkit-border-radius: 6px 6px 0 0;
						border-radius: 6px 6px 0 0;
					}

					.bordered tr:last-child td:first-child {
						-moz-border-radius: 0 0 0 6px;
						-webkit-border-radius: 0 0 0 6px;
						border-radius: 0 0 0 6px;
					}

					.bordered tr:last-child td:last-child {
						-moz-border-radius: 0 0 6px 0;
						-webkit-border-radius: 0 0 6px 0;
						border-radius: 0 0 6px 0;
					}
					.bordered a:link { color:black; text-decoration:none; }
					.bordered a:visited { color:black; text-decoration:none; }
					.bordered a:focus { color:black; text-decoration:underline; }
					.bordered a:hover { color:black; text-decoration:underline; }
					.bordered a:active { color:black; text-decoration:none; }

					
.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
					